{% extends 'base.html' %}
{% load staticfiles %}

{% block style %} <link rel="stylesheet" href="{% static 'css/landing.css' %}"> {% endblock %}
{% block title %} Welcome {% endblock %}

{% block content %}
    <div class="page-container">

        <div class="navbar-container">
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li id="logout-button"> <a href="{% url 'accounts:logout' %}"> Logout </a> </li>
                    {% else %}
                        <li id = 'login-button'> <a href="{% url 'accounts:login' %}"> Login </a> </li>
                        <li id = 'signup-button'> <a href="{% url 'accounts:signup' %}"> Sign Up </a> </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    
        <div class="title-container">
            <h1>
                Welcome To The Website
            </h1>
    
            {% if user.is_authenticated %}
                <h2>
                    How are you doing, {{ user.username }} ?
                </h2>
            {% endif %}
        </div>
    </div>

{% endblock %}