{% extends 'base.html' %}
{% load staticfiles %}

{% block style %} <link rel="stylesheet" href="{% static 'css/login.css' %}"> {% endblock %}
 
{% block title %} Login {% endblock %}

{% block content %}       

    <div class="title-container">
        <p>
            Login
        </p>
    </div>

    <div class="form-container">
        <form action="{% url 'accounts:login' %}" method = 'post' id = 'form'>
            {% csrf_token %}
            <div class="form-wrapper">
                <div class="username-container">
                    <p>
                        Username: 
                    </p>

                    {{ form.username }}
                </div>

                <div class="password-container">
                    <p>
                        Password:
                    </p>

                    {{ form.password }}
                </div>

                <div class="button-container">
                    <input type="submit" value="Login" id = 'login-button'>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
