{% extends 'base.html' %}
{% load staticfiles %}

{% block style %} <link rel="stylesheet" href="{% static 'css/signup.css' %}"> {% endblock %}
{% block title %} Sign Up {% endblock %}

{% block content %}

    <div class="form-container">
        <form action="{% url 'accounts:signup' %}" method = 'post'>
            {% csrf_token %}

            <div class="form-wrapper">
                <div class="username-container">
                    <p>
                        Username: 
                    </p>

                    {{ form.username }}

                    <p class = 'helptext'>
                        Required 150 Characters or fewer. Letters, digits, and @/./+/-/_ only.
                    </p>
                </div>

                <div class="password-container">
                    <p>
                        Password:
                    </p>

                    {{ form.password1 }}

                    <p class = 'helptext'>
                        <ul>
                            <li> Your Password can't be too similar to your oter personal information </li>
                            <li> Your Password must contain at least 8 characters </li>
                            <li> Your Password can't be a commonly used password </li>
                            <li> Your password cant'be entirely numeric </li>
                        </ul>
                    </p>
                </div>

                <div class="password-container">
                    <p>
                        Password Confirmation:
                    </p>

                    {{ form.password2 }}
                </div>
            </div>


            <!-- {{ form }} -->

            <input type="submit" value="Sign Up">
        </form>
    </div>

{% endblock %}