* {
    margin: 0;
    font-family: 'Rubik', 'sans-serif';
}

.page-container {
    height: 100vh;
    background-color: #f5f5f5;
}

.navbar-container {
    color: #f5f5f5;
    font-size: 12pt;
    background-color: #1c1c1c;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    border-style: solid;
    border-color: #1c1c1c;
    padding: 10px;
    margin: 10px;
}

#login-button, #logout-button {
    border-radius: 10px;
    transition: 0.3s;
}

#login-button:hover, #logout-button:hover {
    background-color: #f5f5f5;
    color: #1c1c1c;
    transition: 0.3s;
}

#signup-button {
    border-color: #f5f5f5;
    border-radius: 10px;
    transition: 0.3s;
}

#signup-button:hover {
    background-color: #f5f5f5;
    color: #1c1c1c;
    transition: 0.3s;
}

.title-container {
    padding-top: 10px;
    text-align: center;
}

.out-wrapper, .in-wrapper, .sign-wrapper {
    color: #010101;
    margin-top: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    border-style: solid;
    width: 10%;
    border-radius: 5px;
    transition: 0.3s;
}

.out-wrapper:hover, .in-wrapper:hover, .sign-wrapper:hover{
    background-color: #010101;
    color: #f5f5f5;
    border-color: #010101;
    transition: 0.3s;
}

.out-wrapper a , .in-wrapper a, .sign-wrapper a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    width: 100%;
    text-align: center;
}
