*, body {
    margin: 0 auto;
    font-family: 'Rubik', 'sans-serif';
}

.page-container {
    height: 100vh;
}

.title-container {
    text-align: center;
    transform: translateY(25px);
    font-size: 24px;
    font-weight: bold;
}

.form-wrapper{
    font-size: 24px;
    font-weight: bold;
    border-style: solid;
    border-radius: 10px;
    width: 35%;
    padding: 50px;
    transform: translateY(100px);
    background-color: #F3ECD3;
}