*, body {
    margin: 0 auto;
    font-family: 'Rubik', 'sans-serif';
}

.form-container {
    margin: 0 auto;
    border-style: solid;
    width: 75%;
    transform: translateY(100px);
    border-radius: 10px;
    background-color: #F3ECD3;
}

.form-container form {
    padding: 50px;
}

label[for='id_username'], label[for='id_password1'], label[for='id_password2'] {
    font-size: 24px;
}
