<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial -scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
        {% block style %} {% endblock %}
        
        <title> {% block title %} {% endblock %} </title>
    </head>

    <body>
        {% block content %}
        {% endblock %}

    </body>
</html>